[submodule "classification-problem-ensemble-techniques"]
	path = classification-problem-ensemble-techniques
	url = https://github.com/migue-afk/Classification-problem-ensemble-techniques..git
[submodule "analogial-pid-applied-to-a-system-of-secod-order"]
	path = analogial-pid-applied-to-a-system-of-secod-order
	url = https://github.com/migue-afk/PID_analogico_aplicado_a_un_sistema_de_segundo_orden_MATLAB.git
[submodule "algorit-inexact-lines-method"]
	path = algorit-inexact-lines-method
	url = https://github.com/migue-afk/search-algorithm-inexact-lines-method.git
